<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <!-- Bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
  <script src="{{ url_for('static', filename='js/color-modes.js') }}"></script>
  <link href="{{ url_for('static', filename='css/sidebars.css') }}" rel="stylesheet" />

  <!-- SVG stuff -->
  
  {% block head %}
  
  {% endblock %}
</head>
<body class="d-flex flex-nowrap min-vh-100 overflow-hidden">
  <div
    class="d-flex flex-column flex-shrink-0 bg-dark sticky-top vh-100 overflow-auto"
    style="width: 4.5rem"
  >
    <a
      href="/"
      class="d-block p-3 link-body-emphasis text-decoration-none"
      title="Icon-only"
      data-bs-toggle="tooltip"
      data-bs-placement="right"
    >
      <svg class="bi pe-none" width="40" height="32" aria-hidden="true">
        <use xlink:href="#bootstrap"></use>
      </svg>
      <span class="visually-hidden">Icon-only</span>
    </a>
    <ul class="nav nav-pills nav-flush flex-column mb-auto text-center">
      <li class="nav-item">
        <a href="{{ url_for('dashboard') }}" class="{% if request.path == url_for('dashboard') %} active {% endif %} nav-link py-3 border-bottom rounded-0" title="Dashboard">
          <i class="bi bi-columns-gap" style="font-size: 24px;"></i>
        </a>
      </li>
      <li class="nav-item">
        <a href="{{ url_for('live_map') }}" class="{% if request.path == url_for('live_map') %} active {% endif %} nav-link py-3 border-bottom rounded-0" title="Live Map">
          <i class="bi bi-compass" style="font-size: 24px;"></i>
        </a>
      </li>
      <li class="nav-item">
        <a href="{{ url_for('analysis') }}" class="{% if request.path == url_for('analysis') %} active {% endif %} nav-link py-3 border-bottom rounded-0" title="Live Map">
          <i class="bi bi-clipboard-data" style="font-size: 24px;"></i>
        </a>
      </li>
    </ul>

  </div>
  <main class="flex-grow-1 overflow-auto vh-100">
    {% block body %}{% endblock %}
  </main>
  

  <script src="{{ url_for('static', filename='js/sidebars.js') }}" class="astro-vvvwv3sm"></script>
</body>
{% block scripts%}{% endblock %}

</html>