{% extends "base.html" %}
{% block page_title %}Update User{% endblock %}

{% block content %}
<h1>Update User</h1>
<form action="#" method="POST">
    {{ form.hidden_tag() }}

    <div class="mb-3">
        {{ form.users.label }}<br>
        {{ form.users(class="form-select", multiple=True, size=5) }}
     </div>
    {% for error in form.users.errors %}
        <span style="color: red;">{{ error }}</span><br>
    {% endfor %}

    {{form.submit(class="btn btn-primary")}}

</form>
{% endblock %}