{% extends "base.html" %}
{% block page_title %}User{% endblock %}

{% block content %}
<h1>Hello! {{current_user.name}}</h1>
<h1>Your email is : {{current_user.email}}</h1>

<br>
<a href="update/{{current_user.id}}"><button class="btn btn-primary">Update data</button></a>
<div class="text-center">
    {% for user in user_list %}
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">{{user.name}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{user.email}}</h6>
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}